body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container > h1{
  color:red;
}

header {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.content-section {
  padding: 40px 0;
}

.character-card {
  text-align: center;
  margin-bottom: 20px;
}

.character-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.character-card > p{
  text-align: center;
}
.video{
  justify-content: center;
  text-align: center;
}
footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 3px 0;
}
